<!-- @format -->

{% include 'base.html' %}
{% load static %}


  <body>
    <main id="main" class="main">
      <div class="pagetitle">
        <h1>Add Vehicle</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </nav>
      </div>
      <!-- End Page Title -->
      <section class="section">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body py-4">
                {% comment %} <h5 class="card-title">Form</h5> {% endcomment %}


<section class="main-sec">
 {% if messages %}
  <div class="container mt-3">
    {% for message in messages %}
      <div class="alert alert-info {{ message.tags }} alert-dismissible fade show" role="alert">
       <h5 class="text-center"> {{ message }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  </div>
{% endif %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12 form-div">
        <form  method="POST" enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}
          <div class="row">
          <div class="col-lg-4 mb-3">
            <label for="exampleDataList" class="form-label fw-bold">Tanker No.</label>
             <input input="text" class="form-control border-2" name="vehicle_name"  id="exampleDataList">
               
          </div>
          <div class="col-lg-4 mb-3">
            <label for="example" class="form-label fw-bold">Tanker Capacity</label>
             <input input="text" class="form-control border-2" name="tankercap"  id="example">
               
          </div>
            <div class="col-lg-4 mb-3">
              <label for="lable1" class="form-label fw-bold"
                >Owner Name</label
              >
              <div class="input-group mb-3">
                <select class="form-select border-2" name="owner_name" id="lable1">
                <option>Select</option>
                  <option value="Namrata Vijay Makhija">Namrata Vijay Makhija</option>
                  <option value="Jay Vijay Makhija">Jay Vijay Makhija</option>
                   <option value="Dolandas Makhija">Dolandas Makhija</option>
                   <option value="J N Roadlines LLP">J N Roadlines LLP</option>
                  
                  
                </select>
              </div>
            </div>
          <div class="col-lg-4 mb-3">
              <label for="lable2" class="form-label fw-bold"
                >Making Year</label
              >
              <input
              type="date"
              name="making_year"
              class="form-control border-2"
              id="label2"
            />
          </div>
          <div class="col-lg-4 mb-3">
            <label for="label3" class="form-label fw-bold">Chassis No.</label>
             <input input="text" class="form-control border-2" name="chassise_no"  id="label3">
               
          </div>
          <div class="col-lg-4 mb-3">
            <label  for="label4" class="form-label fw-bold">Engine No.</label>
             <input input="text" class="form-control border-2" name="engine_no"  id="label4">
               
          </div>

          
          <div class="col-lg-3 mb-3">
            <label for="label5" class="form-label fw-bold"
              >Insurance Date
            </label>
           <input
              type="date"
              name="insurance_date"
              class="form-control border-2"
              id="label5"
            />
          </div>
          <div class="col-lg-3 mb-3">
           <label for="lable6" class="form-label fw-bold"
                >Insurance Paper</label
              >
              {% comment %} <input type="file" name="img" class="form-control" accept=".pdf"> {% endcomment %}
           <input type="file" name="insurance_img" class="form-control border-2" id="label6" accept=".pdf">
         </div>
          <div class="col-lg-3 mb-3">
            <label for="label7" class="form-label fw-bold"
              >State Permit
            </label>
           <input
              type="date"
              name="state_permit"
              class="form-control border-2"
              id="label7"
            />
          </div>
          <div class="col-lg-3 mb-3">
           <label for="lable8" class="form-label fw-bold"
                >State Permit Paper</label
              >
           <input type="file" name="state_img" class="form-control border-2" id="label8" accept=".pdf">
         </div>
          <div class="col-lg-3 mb-3">
            <label for="label9" class="form-label fw-bold"
              >National Permit</label
            >
            <input
              type="date"
              name="national_permit"
              class="form-control border-2"
              id="label9"
            />
          </div>
           <div class="col-lg-3 mb-3">
           <label for="lable10" class="form-label fw-bold"
                >National Permit Paper</label
              >
           <input type="file" name="national_img" class="form-control border-2" id="label10" accept=".pdf" >
         </div>
          <div class="col-lg-3 mb-3">
            <label for="label11" class="form-label fw-bold"
              >Fitness Date</label
            >
            <input
              type="date"
              name="fitness_date"
              class="form-control border-2"
              id="label11"
            />
          </div>
           <div class="col-lg-3 mb-3">
           <label for="lable12" class="form-label fw-bold"
                >Fitness Paper</label
              >
           <input type="file" name="fitness_img" class="form-control border-2" id="label12" accept=".pdf">
         </div>
          <div class="col-lg-3 mb-3">
            <label for="label13" class="form-label fw-bold"
              >Tax Date</label
            >
            <input
              type="date"
              name="tax_date"
              class="form-control border-2"
              id="label13"
            />
          </div>
          <div class="col-lg-3 mb-3">
           <label for="lable14" class="form-label fw-bold"
                >Tax Paper</label
              >
           <input type="file" name="tax_img" class="form-control border-2" id="label14" accept=".pdf">
         </div>
          <div class="col-lg-3 mb-3">
            <label for="label15" class="form-label fw-bold"
              >PUC Date</label
            >
            <input
              type="date"
              name="puc_date"
              class="form-control border-2" 
              id="label15"
            />
          </div>
             <div class="col-lg-3 mb-3">
        <label for="lable16" class="form-label fw-bold"
                >PUC Paper</label
              >
        <input type="file" name="puc_img" class="form-control border-2" id="label16" accept=".pdf">
      </div>

       <div class="col-lg-4 mb-3">
              <label for="lables" class="form-label fw-bold"
                >Status</label
              >
              <div class="input-group mb-3">
                <select class="form-select border-2" name="status" id="lables">
                <option>Select</option>
                  <option value="Running">Running</option>
                  <option value="Sold">Sold</option>
                </select>
              </div>
            </div>

          <div class="btn-div text-center py-2">
            <button type="submit" class="btn btn-success px-4">Add</button>
            <a href="{% url 'show-vehicle' %}" class="btn btn-info px-4">View</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

     <!-- ======= Footer ======= -->
    <footer class="footer">
      <div class="copyright">
        &copy; Copyright <strong>J N Roadlines LLP</strong> All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#"><strong> JTECH VENTURES</strong></a>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>
  </body>
