<!-- @format -->

{% include 'base.html' %}
{% load static %}
  <body>
    <main id="main" class="main">
      <div class="pagetitle">
        <h1>Vehicle Tracking Page</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </nav>
      </div>
      <!-- End Page Title -->
      <section class="section">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body py-4">
                {% comment %} <h5 class="card-title">Form</h5> {% endcomment %}


 <section class="main-sec">
 {% if messages %}
  <div class="container mt-3">
    {% for message in messages %}
      <div class="alert alert-info {{ message.tags }} alert-dismissible fade show" role="alert">
       <h5 class="text-center"> {{ message }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  </div>
{% endif %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12 form-div">
        <form  method="POST">
          {% csrf_token %}
          <div class="row">
           <div class="col-lg-4 mb-3">
            <label for="exampleDataList" class="form-label fw-bold">Vehicle No</label>
             <input class="form-control border-2" name="tanker_no" list="datalistOptions" id="exampleDataList" placeholder="Search to vehicle no...">
               <datalist id="datalistOptions" class="shadow-sm border-0" >
                {% for v in vehicle %}
                 <option value="{{v.vehicle_name}}">{{v.vehicle_name }}</option>
                 {% endfor %}
                </datalist>
          </div>
        {% comment %} <div class="col-lg-4 mb-3">
            <label for="exampleDataList" class="form-label fw-bold">Drivers Name</label>
             <input class="form-control border-2" list="driverslist" id="exampleDataList" name="drivername" placeholder="Search to drivers..." required>
               <datalist id="driverslist" class="shadow-sm border-0" >
                  {% for d in dname %}
                 <option value="{{d.name}}">{{d.name }}</option>
                {% endfor %}
                </datalist>
             </div> {% endcomment %}
              <div class="col-lg-4 mb-3">
             <label class="form-label fw-bold">Status:</label>
              <select name="vehicle_status"  class="form-control border-2" required>
              <option value="select">Select</option>
               <option value="departure">Departure</option>
               <option value="in route to delivery">In Route to Delivery</option>
               <option value="near destination">Near Destination</option>
               <option value="unloading in progress">Unloading in Progress</option>
               <option value="reached">Reached</option>
              <option value="maintenance">Maintenance</option>
             </select>
             </div>
           <div class="col-lg-4 mb-3">
            <label for="label1" class="form-label fw-bold">Current Location</label>
             <input type="text" class="form-control border-2" name="location"  id="label1">
          </div>
          
           <div class="col-lg-4 mb-3">
            <label for="label3" class="form-label fw-bold">Trip Date</label>
             <input type="date" class="form-control border-2" name="tdate"  id="label3">
          </div>
            <div class="col-lg-4 mb-3">
            <label for="label4" class="form-label fw-bold">Destination</label>
             <input type="text" class="form-control border-2" name="destination"  id="label4">
          </div>
          <div class="col-lg-4 mb-3">
            <label for="label2" class="form-label fw-bold">Last Update</label>
             <input type="datetime-local" class="form-control border-2" name="date"  id="label2">
          </div>
        <div class="btn-div text-center py-2">
            <button type="submit" class="btn btn-success px-4">Add</button>
            <a href="{% url 'show-track'  %}" class="btn btn-info px-4">View</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer class="footer">
      <div class="copyright">
        &copy; Copyright <strong>J N Roadlines LLP</strong> All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#"><strong> JTECH VENTURES</strong></a>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>
  </body>
