
      body {
        font-family: "Roboto", sans-serif;
        background-color: #fff;
        padding: 0px;
        margin: 0;
        user-select: none;
        font-size:12px;
      }
.section-invoice{
  max-width: 800px !important;
  margin: 0px auto !important;
}
    
      .header-1 {
        /* display:flex;
        justify-content:space-between;
        
        text-decoration:underline; */
        text-align: center;
      }

      .header-1 span {
        margin-right: 50px;
        color: black;
      }

      .header-1:hover span,
      .header-1:hover h1 {
        color: grey;
      }

      .invoice {
        /* max-width: 800px; */
        font-size: 10px !important;
        height: auto;
        margin: auto;
        background-color: #fff;

        border: 1px solid black;

      }

      h1 {
        margin: 0;
        color: black;
        cursor: pointer;
        font-size: 24px;
        font-weight: 600;
      }


  

    
      .print-row-btn
      {
        border: none;
        /* display: inline-block;
        margin-top: 20px;
        padding: 5px 15px !important;
        position: left;
        margin-right: 5px;
        color: white;
        
        border-radius: 3px;
        cursor: pointer;
        font-size: 1em;
        transition: background-color 0.3s ease, transform 0.3s ease;
        background:blue; */

      }
        .print-row-btn
      {
        border: none;
        /* display: inline-block;
        margin-top: 20px;
        padding: 5px 15px !important;
        position: left;
        margin-right: 5px;
        color: white;
        
        border-radius: 3px;
        cursor: pointer;
        font-size: 1em;
        transition: background-color 0.3s ease, transform 0.3s ease;
        background:blue; */

      }

      /* .print-row-btn:hover {
        background-color: blue;
      } */

      button {
        margin-top: 20px;
        display: block;
      }

      
      .main-head {
        display: flex;
        justify-content: space-between;
      }
      .btn-print {
        display: flex;
        justify-content: center;
      }
      p{
        margin: 5px;
      }
      thead,
      tbody {
        font-size:8px !important;
        border: 1px solid black;
      }
      /* .conpany-div p{
        text-decoration: underline;
      } */
      .pra-bill{
        float:right;
      }
      @media print {
        .table-responsive {
          overflow: visible !important;
        }
        .table {
          width: 100% !important;
        }
      }
      .table-head th{
        font-size: 10px !important;
        font-weight: bold !important;
      }
      /* .invoice::before {
        content: "J N ROADLINES LLP";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-30deg);
        font-size: 65px;
        font-weight: 800;
        color: rgba(0, 0, 0, 0.09); 
        white-space: nowrap;
        pointer-events: none;
        z-index: 0;
      }
      
      .invoice {
        position: relative;
        z-index: 1;
      } */


