
      body {
        font-family: "Open Sans", sans-serif !important;
        background-color: #fff;
        padding: 0px;
        margin: 0;
        user-select: none;
        font-size:14px;
      }
.section-invoice{
  max-width: 800px !important;
  margin: 0px auto !important;
}
    
      .header-1 {

        text-align: center;
      }

      .header-1 span {
        margin-right: 50px;
        color: black;
      }

      .header-1:hover span,
      .header-1:hover h1 {
        color: grey;
      }

      .invoice {

        font-size: 12px !important;
        height: auto;
        margin: auto;
        background-color: #fff;

        border: 1px solid black;

      }

      h1 {
        margin: 0;
        color: black;
        cursor: pointer;
        font-size: 20px;
        font-weight: 600;
      }


  

    
      .print-row-btn
      {
        border: none;
      }
        .print-row-btn
      {
        border: none;

      }



      button {
        margin-top: 20px;
        display: block;
      }

      
      .main-head {
        display: flex;
        justify-content: space-between;
      }
      .btn-print {
        display: flex;
        justify-content: center;
      }
      p{
        margin: 5px;
      }
      thead,
      tbody {
        font-size:12px !important;
        border: 1px solid black;
      }
      .pra-bill{
        float:right;
      }
      @media print {
        .table-responsive {
          overflow: visible !important;
        }
        .table {
          width: 100% !important;
        }
      }
      .table-head th{
        font-size: 14px !important;
        font-weight: bold !important;
      }


