<!-- @format -->

{% include 'base2.html' %} {% load static %}
<body>
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Driver Loan Details</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div>
    <!-- End Page Title -->
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
          <div class="table-responsive">
            <div class="card-body">
              {% comment %} <h5 class="card-title">Datatables</h5> {% endcomment %}
              {% if messages %}
              <div class="container mt-3">
                {% for message in messages %}
                <div
                  class="alert alert-info {{ message.tags }} alert-dismissible fade show"
                  role="alert"
                >
                  <h5 class="text-center">{{ message }}</h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                  ></button>
                </div>
                {% endfor %}
              </div>
              {% endif %}
              <table class="table datatable" id="Record">
                <thead>
                  <tr>
                    <th>Sr_No.</th>
                    <th>Tanker_No</th>
                    <th>From Address</th>
                    <th>To Address</th>
                    <th>Driver_Name</th>
                    <th>Trip_Date</th>
                    <th>Date</th>
                    <th>Loaded_Qty</th>
                    <th>Unloaded_Qty</th>
                    <th>Shortage_Qty</th>
                    <th>Allow_Qty_in K.G</th>
                    <th>Actual_Shortage Amount</th>
                    <th>Rate</th>
                    <th>Shortage_Amount</th>
                    <th>Previous_Loan</th>
                    <th>Trip_Loan_Amount</th>
                    <th>Total</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for l in Loan %}
                  <tr>
                    <td>{{forloop.counter }}</td>
                    <td>{{l.tankerno }}</td>
                    <td>{{l.From_address }}</td>
                    <td>{{l.To_address}}</td>
                    <td>{{l.drivername }}</td>
                    <td>{{l.trip_date|date:"d/m/Y" }}</td>
                    <td>{{l.date|date:"d/m/Y" }}</td>
                    <td>{{l.load }}</td>
                     <td>{{l.unload }}</td>
                     <td>{{l.short_kg }}</td>
                     <td>{{l.allow_kg }}</td>
                      <td>{{l.actual_short }}</td>
                      <td>{{l.rate }}</td>
                      <td>{{l.short_amount }}</td>
                      <td>{{l.previous_loan }}</td>
                      <td>{{l.loan_amount }}</td>
                      <td>{{l.total }}</td>
                 
                    <td>
                      <a
                        href="{% url 'update-dloan' l.id %}"
                        class="text-success mx-2"
                        ><i class="bi bi-pencil-square fs-5"></i
                      ></a>
                      <a
                        href="{% url 'loan-delete' l.id %}"
                        class="text-danger"
                        onclick="return confirmDelete()"
                        ><i class="bi bi-trash3-fill fs-5"></i
                      ></a>
                      
                    </td>
                  </tr>
                  {% endfor %} {% comment %}
                  <tr>
                    <td colspan="5">Total Amount</td>
                  </tr>
                  {% endcomment %}
                </tbody>
              </table>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer class="footer">
      <div class="copyright">
        &copy; Copyright <strong>J N Roadlines LLP</strong> All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#"><strong> JTECH VENTURES</strong></a>
      </div>
    </footer>
    <!-- End Footer -->

  <a
    href="#"
    class="back-to-top d-flex align-items-center justify-content-center"
    ><i class="bi bi-arrow-up-short"></i
  ></a>

  <script type="text/javascript">
    function confirmDelete() {
      var result = confirm("Are you sure you want to delete this data ?");
      if (result) {
        return true;
      } else {
        return false;
      }
    }
  </script>
</body>
