<!-- @format -->

{% include 'base2.html' %} {% load static %}

<body>
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Tanker Details</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div>
    <!-- End Page Title -->
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                {% comment %} <h5 class="card-title">Datatables</h5> {% endcomment %}
                 {% if messages %}
  <div class="container mt-3">
    {% for message in messages %}
      <div class="alert alert-info {{ message.tags }} alert-dismissible fade show" role="alert">
       <h5 class="text-center"> {{ message }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  </div>
{% endif %}
                <!-- Table with stripped rows -->
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th>Sr_No</th>
                      <th>Tanker_No.</th>
                      <th>Tanker_Capacity</th>
                      <th>Owner_Name</th>
                      <th>Making_Date</th>
                      <th>Chassise_No</th>
                      <th>Engine_No</th>
                      <th>Insurance_Date</th>
                      <th>State_Permit</th>
                      <th>National_Permit</th>
                      <th>Fitness</th>
                      <th>Tax_Date</th>
                      <th>PUC_Date</th>
                      <th>Vehicle_Image</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for v in showvehicle %}
                    <tr>
                      <td>{{forloop.counter }}</td>
                      <td>{{v.vehicle_name }}</td>
                      <td>{{v.tankercap}}</td>
                      
                      <td>{{v.owner_name }}</td>
                      <td>{{v.making_year |date:"d/m/Y" }}</td>
                      <td>{{v.chassise_no }}</td>
                      <td>{{v.engine_no }}</td>
                      <td>{{v.insurance_date |date:"d/m/Y" }}</td>
                      <td>{{v.state_permit |date:"d/m/Y" }}</td>
                      <td>{{v.national_permit |date:"d/m/Y" }}</td>
                      <td>{{v.fitness_date |date:"d/m/Y" }}</td>
                      <td>{{v.tax_date |date:"d/m/Y" }}</td>
                      <td>{{v.puc_date |date:"d/m/Y" }}</td>
                     
                    <td>
                       {% if v.vehicle_img %}
                      <!-- Image exists -->
                      <img src="{{ v.vehicle_img.url }}" alt="Vehicle Image" width="100">
                      <a href="{{ v.vehicle_img.url }}" download>Download</a>
                      {% else %}
                     <!-- No image available -->
                     <p>No image available</p>
                     {% endif %}
                    </td>
                    <td>
                      {% if v.status == 'Sold' %}
                      <span class="badge bg-danger">Sold</span>
                      
                       {% else%}
                       <span class="badge bg-success">Running</span>
                       {% endif %}
                    </td>


                      
               

                      <td>
                        <a href="{% url 'up-vehicle' v.id  %}" class="text-success"
                          ><i class="bi bi-pencil-square fs-5"></i
                        ></a>
                        <a href="{% url 'd-vehicle' v.id  %}" class="text-danger"
                          ><i class="bi bi-trash3-fill fs-5"></i></a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <!-- End Table with stripped rows -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong>. All Rights Reserved</strong>
    </div>
    <div class="credits">
      Designed by <a href="#"><strong>J N Roadlines</strong></a>
    </div>
  </footer>
  <!-- End Footer -->

  <a
    href="#"
    class="back-to-top d-flex align-items-center justify-content-center"
    ><i class="bi bi-arrow-up-short"></i
  ></a>
</body>
