<!-- @format -->
{% include 'base.html' %}
{% load static %}


  <body>
    <main id="main" class="main">
      <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </nav>
      </div>
      <!-- End Page Title -->
      {% if messages %}
  <div class="container mt-3">
    {% for message in messages %}
      <div class="alert alert-info {{ message.tags }} alert-dismissible fade show" role="alert">
       <h5 class="text-center"> {{ message }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  </div>
{% endif %}
      <section class="section">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Form</h5>
              
   <section class="main-sec py-3">

     <div class="container">
     <div class="row">
      <div class="col-lg-12 form-div">
      <form  method="POST">
        {% csrf_token %}
          <div class="row">
          <div class="col-lg-4 mb-3">
            <label for="label1" class="form-label fw-bold">Bill No</label>
            <input
              type="text"
              class="form-control"
              name="bill"
              min="0"
              id="label1" 
            />
        </div>

        <div class="col-lg-4 mb-3">
            <label for="label17" class="form-label fw-bold">Date</label>
            <input
              type="date"
              class="form-control"
              name="date"
              min="0"
              id="label17"
            />
        </div>
         <div class="col-lg-4 mb-3">
            <label for="label17" class="form-label fw-bold">Company Name</label>
            <input
              type="text"
              class="form-control"
              name="company"
              min="0"
              id="label17"
              
            />
        </div>
        <div class="col-lg-4 mb-3">
            <label for="label17" class="form-label fw-bold">GST No.</label>
            <input
              type="text"
              class="form-control"
              name="gst"
              min="0"
              id="label17"
              
            />
        </div>
        <div class="col-lg-4 mb-3">
            <label for="label17" class="form-label fw-bold">PAN No.</label>
            <input
            
              type="text"
              class="form-control"
              name="pan"
              min="0"
              id="label17"
           
            />
        </div>
            <div class="col-lg-4 mb-3">
              <label for="exampleDataList" class="form-label fw-bold">Vehicle No</label>
             <input class="form-control border-2" name="tanker" list="datalistOptions" id="exampleDataList" placeholder="Search to vehicle no...">
               <datalist id="datalistOptions" class="shadow-sm border-0" >
                {% for v in vehicle %}
                 <option value="{{v.vehicle_name}}">{{v.vehicle_name }}</option>
                 {% endfor %}
                </datalist>
            </div>


            <div class="col-lg-4 mb-3">
             <label for="exampleDataList1" class="form-label fw-bold">From Address</label>
             <input class="form-control border-2" name="From_add" list="datalistOptions1" id="exampleDataList1" placeholder="Search to...">
               <datalist id="datalistOptions1" class="shadow-sm border-0" >
                {% for c in company %}
                 <option value="{{c.name}}, {{c.city}}"></option>
                 {% endfor %}
                </datalist>
            
            </div>
            <div class="col-lg-4 mb-3">
              <label for="exampleDataList2" class="form-label fw-bold">To Address</label>
             <input class="form-control border-2" name="To_add" list="datalistOptions2" id="exampleDataList2" placeholder="Search to...">
               <datalist id="datalistOptions2" class="shadow-sm border-0" >
                {% for c in company %}
                 <option value="{{c.name}}, {{c.city}}"></option>
                 {% endfor %}
                </datalist>
            </div>
            
          
          <div class="col-lg-4 mb-3">
            <label for="label5" class="form-label fw-bold"
              >Dispatched date</label
            >
            <input
              type="date"
              name="date_dis"
              class="form-control"
              id="label5"
            />
          </div>
         

       
        
        <div class="col-lg-4 mb-3">
            <label for="label17" class="form-label fw-bold">LR No</label>
            <input
              type="number"
              class="form-control"
              name="lr_no"
              min="0"
              id="label17"
            />
        </div>
        <div class="col-lg-4 mb-3">
            <label for="label17" class="form-label fw-bold">Total K.G</label>
            <input
              type="number"
              class="form-control"
              name="kg"
              min="0"
              id="kg"
              oninput="calculateTotal()"
            />
        </div>
        <div class="col-lg-4 mb-3">
            <label for="label17" class="form-label fw-bold">Rate Per K.G</label>
            <input
              type="number"
              class="form-control"
              name="rate"
              min="0"
              id="rate"
              oninput="calculateTotal()"
            />
        </div>
     
         <div class="col-lg-4 mb-3">
            <label for="label19" class="form-label fw-bold"
              >Freight Rs</label
            >
            <input
              type="number"
              name="total_kg"
              class="form-control"
              id="totalamount"
               
               oninput="calculateTotal()"
               min="0"
            />
        </div>
        {% comment %} <div class="col-lg-4 mb-3">
            <label for="label19" class="form-label fw-bold"
              >Amount In word</label
            >
            <input
              type="text"
              name="amount_in"
              class="form-control"
              id="#"
              
            />
        </div> {% endcomment %}
        <hr>
        {% comment %} <h5>Union Charges</h5>
       
         <div class="col-lg-4 mb-3">
            <label for="label17" class="form-label fw-bold">Rate </label>
            <input
              type="number"
              class="form-control"
              name="union_charge"
              min="0"
              id="perrate"
              oninput="Total()"
            />
        </div>
       {% endcomment %}
     
       
      
        <div class="btn-div text-center py-2">
            <button type="submit" class="btn btn-danger px-4">Save</button>
            <a href="{% url 'gemini-show' %}" class="btn btn-success px-4">View</a>
             <a href="{% url 'bills-show' %}" class="btn btn-info px-4">Create Bill</a>
        </div>
        </form>
      </div>
    </div>
  </div>
</section>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="copyright">
        &copy; Copyright <strong>. All Rights Reserved</strong>
      </div>
      <div class="credits">
        Designed by <a href="#"><strong>J N Roadlines</strong></a>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>
{% comment %} <script>
        function calculateTotalShort() {
            // Get the values of disqty and unlodqty from the form
            var disqty = document.getElementById("disqty").value;
            var unlodqty = document.getElementById("unlodqty").value;


            // Calculate totalshort only if both values are numbers
            if (disqty && unlodqty) {
                var totalshort = parseInt(disqty) - parseInt(unlodqty);
                document.getElementById("totalshort").value = totalshort; // Display totalshort in the input field
            }
        }
    </script> {% endcomment %}
<script>
    function calculateTotal() {
        // Get the values of the input fields by their IDs
        let kg = parseFloat(document.getElementById('kg').value);
        let rate = parseFloat(document.getElementById('rate').value);

        // If either kg or rate is NaN (not a number), don't calculate the total
        if (isNaN(kg) || isNaN(rate)) {
            document.getElementById('totalamount').value = ''; // Clear the total field if invalid input
        } else {
            let total = kg * rate;
            document.getElementById('totalamount').value = total; // Display the total in the input field
        }
    }
</script>


<script>
    function Total() {
        // Get the values of the input fields by their IDs
        let perrate = parseFloat(document.getElementById('perrate').value);
        let day = parseFloat(document.getElementById('day').value);

        // If either kg or rate is NaN (not a number), don't calculate the total
        if (isNaN(perrate) || isNaN( day)) {
            document.getElementById('totals').value = ''; // Clear the total field if invalid input
        } else {
            let total = perrate * day;
            document.getElementById('totals').value = total; // Display the total in the input field
        }
    }
</script>

</body>

