




{% include 'base_bill.html' %} 
{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<body>
  <main  class="main">

    <!-- End Page Title -->
    <section class="section-invoice">
    <div class="invoice" >
      <div class="header-1 py-2">
        <div><p></p></div>
        <div class="text-center">
        <h1>J N ROADLINES LLP</h1>
        <p class="text-uppercase fw-bold">Fleet Owners & Transport Contractors</p>
        <p class="text-uppercase fw-bold" style="padding:0px 150px">
          1402,Orion west, 13th floor, 2nd Gaothan Lane,
          Santacruz Railway Station Road, Opp Bhagwan Cutpiece, Mumbai-400054
        </p>
        {% comment %} <p><strong>Phone No :</strong> 9833209818</p><br>
        <p class="text-decoration-underline"><strong>GSTIN No :</strong>27AAVFJ3706F1Z5</p>
          <p class="text-decoration-underline"><strong>PAN No :</strong> AAVFJ3706F</p>
        <p class="text-decoration-underline"><strong>UDYAM No : </strong>  UDYAM-MH-18-0022141</p> {% endcomment %}
        {% comment %} <p><strong>FSSAI LICENSE No : </strong> 11521006000010</p> {% endcomment %}

        </div>
        
        
          
          {% comment %} <img class="qr-code" src="https://api.qrserver.com/v1/create-qr-code/?data=https%3A%2F%2Fexample.com%2Finvoices%2F1234.pdf"> {% endcomment %}


     
      </div>

    <div class="main-head py-4">

        <div class="conpany-div">
         
            
            <p><strong>Vehicle NO : _____________________________________ </strong></p>
        </div>
        
        <div>
            <p class="pra-bill"><strong>Date :________________________</strong></p><br>
            <p class="pra-bill"><strong>Time :________________________</strong></p>

        </div>

</div>

     



  <div class="div-table py-0">
  <div class="table-responsive">
  <table class="table table-bordered table-sm">
   <thead>
        <tr class="table-head text-center">
            <th>Sr No.</th>
             <th>Parameters to be checked</th>
              <th>Ok</th>
                 <th>Not Ok</th>
                 <th>Observation if any</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">1</td>
            <td>Single Mirror -Driver Side</td>
          <td class="text-center"><i class="bi bi-square"></i></td>
            <td class="text-center"><i class="bi bi-square"></i></td>
            <td></td>
        </tr>
        <tr>
            <td class="text-center">2</td>
            <td>Seat Belt</td>
              <td class="text-center"><i class="bi bi-square"></i></td>
            <td class="text-center"><i class="bi bi-square"></i></td>
            <td></td>
        </tr>
         <tr>
            <td class="text-center">3</td>
            <td>Blinker</td>
                 <td class="text-center"><i class="bi bi-square"></i></td>
            <td class="text-center"><i class="bi bi-square"></i></td>
            <td></td>
        </tr>
         <tr>
            <td class="text-center">4</td>
            <td>Horn</td>
                  <td class="text-center"><i class="bi bi-square"></i></td>
            <td class="text-center"><i class="bi bi-square"></i></td>
            <td></td>
        </tr>
           <tr>
            <td class="text-center">5</td>
            <td>Air Pressure Min 7kg/CM2</td>
                 <td class="text-center"><i class="bi bi-square"></i></td>
            <td class="text-center"><i class="bi bi-square"></i></td>
            <td></td>
        </tr>
         <tr>
            <td class="text-center">6</td>
            <td>Availabiltiy of scotch block </td>
                 <td class="text-center"><i class="bi bi-square"></i></td>
            <td class="text-center"><i class="bi bi-square"></i></td>
            <td></td>
        </tr>
<tr>
            <td class="text-center">7</td>
            <td>Steering wheel play (20-30 min)</td>
                  <td class="text-center"><i class="bi bi-square"></i></td>
            <td class="text-center"><i class="bi bi-square"></i></td>
            <td></td>
        </tr>
        <tr>
            <td class="text-center">8</td>
            <td>Reversing Horn (Audible)</td>
                 <td class="text-center"><i class="bi bi-square"></i></td>
            <td class="text-center"><i class="bi bi-square"></i></td>
            <td></td>
        </tr>
        <tr>
            <td class="text-center">9</td>
            <td>Cabin door (Physical Condition)</td>
                  <td class="text-center"><i class="bi bi-square"></i></td>
            <td class="text-center"><i class="bi bi-square"></i></td>
            <td></td>
        </tr>
        <tr>
            <td class="text-center">10</td>
            <td>Tyre condition (Physical condition with visible)</td>
                 <td class="text-center"><i class="bi bi-square"></i></td>
            <td class="text-center"><i class="bi bi-square"></i></td>
            <td></td>
        </tr>
        <tr>
            <td class="text-center">11</td>
            <td>Body condition (Standard Physical Condition)</td>
                  <td class="text-center"><i class="bi bi-square"></i></td>
            <td class="text-center"><i class="bi bi-square"></i></td>
            <td></td>
        </tr>
        <tr>
            <td class="text-center">12</td>
            <td>Hand Break (Physical Condition)</td>
                  <td class="text-center"><i class="bi bi-square"></i></td>
            <td class="text-center"><i class="bi bi-square"></i></td>
            <td></td>
        </tr>
        <tr>
            <td class="text-center">13</td>
            <td>Front wind glass (Physical Condition & Effectiveness Vehicle Should Not Roll Down)</td>
                  <td class="text-center"><i class="bi bi-square"></i></td>
            <td class="text-center"><i class="bi bi-square"></i></td>
            <td></td>
        </tr>
        <tr>
            <td class="text-center">14</td>
            <td>Main Break </td>
                  <td class="text-center"><i class="bi bi-square"></i></td>
            <td class="text-center"><i class="bi bi-square"></i></td>
            <td></td>
        </tr>
        <tr>
            <td class="text-center">15</td>
            <td>Spring Pin, Bolt, Clamp (Looseness to Check)</td>
                 <td class="text-center"><i class="bi bi-square"></i></td>
            <td class="text-center"><i class="bi bi-square"></i></td>
            <td></td>
        </tr>
        <tr>
            <td class="text-center">16</td>
            <td>Wiper blade Assy -(Working)</td>
                  <td class="text-center"><i class="bi bi-square"></i></td>
            <td class="text-center"><i class="bi bi-square"></i></td>
            <td></td>
        </tr>
        <tr>
            <td class="text-center">17</td>
            <td>Head Light (Fouus Should be Equal of the Light)</td>
                  <td class="text-center"><i class="bi bi-square"></i></td>
            <td class="text-center"><i class="bi bi-square"></i></td>
            <td></td>
        </tr>
        <tr>
            <td class="text-center">18</td>
            <td>Blinker Light with audible buzzer (Audible & Visible From 30 Meters)</td>
                  <td class="text-center"><i class="bi bi-square"></i></td>
            <td class="text-center"><i class="bi bi-square"></i></td>
            <td></td>
        </tr>
        <tr>
            <td class="text-center">19</td>
            <td>Brake & Parking Light (Audible & Visible From 30 Meters) </td>
                <td class="text-center"><i class="bi bi-square"></i></td>
            <td class="text-center"><i class="bi bi-square"></i></td>
            <td></td>
        </tr>
         <tr>
            <td class="text-center">20</td>
            <td>Oil Leakage (if any) </td>
                  <td class="text-center"><i class="bi bi-square"></i></td>
            <td class="text-center"><i class="bi bi-square"></i></td>
            <td></td>
        </tr>
         <tr>
            <td class="text-center">21</td>
            <td>Foot Rest (Physical Condition)</td>
                 <td class="text-center"><i class="bi bi-square"></i></td>
            <td class="text-center"><i class="bi bi-square"></i></td>
            <td></td>
        </tr>
         <tr>
            <td class="text-center">22</td>
            <td>Jack</td>
               <td class="text-center"><i class="bi bi-square"></i></td>
            <td class="text-center"><i class="bi bi-square"></i></td>
            <td></td>
        </tr>
         <tr>
            <td class="text-center">23</td>
            <td>Tommy</td>
                <td class="text-center"><i class="bi bi-square"></i></td>
            <td class="text-center"><i class="bi bi-square"></i></td>
            <td></td>
        </tr>
         <tr>
            <td class="text-center">24</td>
            <td>Stepney</td>
                 <td class="text-center"><i class="bi bi-square"></i></td>
            <td class="text-center"><i class="bi bi-square"></i></td>
            <td></td>
        </tr>
      

        
    
    </tbody>
</table>
  </div>
 

        


     
            <div class="btn-print" style="display: flex; gap: 10px;">

  <button class="print-row-btn" onclick="window.print()">
     <i class="bi bi-printer fs-4 text-white"></i>
  </button>

</div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

  </body>

