

<!-- @format -->

{% include 'Inventory/base.html' %}
{% load static %}

  <body style="background:white;">
   
    <main id="main" class="main">
      <div class="pagetitle ">
      <h1 class="text-center text-white py-5" style="background:#001861;">Inventory Management System</h1> 
        {% comment %} <h1>Dashboard</h1> {% endcomment %}
        {% comment %} <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </nav> {% endcomment %}
      </div>
      <!-- End Page Title -->

      <section class="section dashboard pt-5">
          <!-- Left side columns -->
          <div class="col-lg-12">
            <div class="row">
               <!-- Sales Card -->
              <div class="col-lg-4 col-md-12">
                <div class="card info-card sales-card">
                  <div class="filter">
                    <a class="icon" href="{% url "show-item" %}" 
                      ><i class="bi bi-three-dots"></i
                    >
                  </div>

                  <div class="card-body">
                    <h5 class="card-title">View Stock</h5>

                    <div class="d-flex align-items-center">
                      <div
                        class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                      >
                        <i class="bi bi-box-fill text-danger"></i>
                      </div>
                      <div class="ps-3">
                        <h6>{{items}}</h6>
                      </div>
                    </div>
                    </a>
                  </div>
                </div>
              </div>
              <!-- End Sales Card -->
              <!-- Order Card -->
              <div class="col-lg-4 col-md-12">
                <div class="card info-card sales-card">
                  <div class="filter">
                    <a class="icon" href="{% url "show-useitem" %}" 
                      ><i class="bi bi-three-dots"></i
                    >
                  </div>

                  <div class="card-body">
                    <h5 class="card-title">View Use Items</h5>

                    <div class="d-flex align-items-center">
                      <div
                        class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                      >
                            <i class="bi bi-check-square-fill text-success"></i>
                      </div>
                      <div class="ps-3">
                        <h6>{{useitem}}</h6>
                      </div>
                    </div>
                    </a>
                  </div>
                </div>
              </div>
              <!-- End Order Card -->
           

              <!-- Revenue Card -->
              
              <div class="col-lg-4 col-md-12">
                <div class="card info-card revenue-card">
                  <div class="filter">
                    <a class="icon" href="{% url "tools-show" %}" 
                      ><i class="bi bi-three-dots"></i
                    >
                  </div>

                  <div class="card-body">
                    <h5 class="card-title">
                     View Tools
                    </h5>

                    <div class="d-flex align-items-center">
                      <div
                        class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                      >
                      <i class="bi bi-tools text-danger"></i>
                        {% comment %} <i class="bi bi-currency-rupee"></i> {% endcomment %}
                      </div>
                      <div class="ps-3">
                        <h6>{{tool}}</h6>
                      </div>
                    </div>
                    </a>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-12">
                <div class="card info-card revenue-card">
                  <div class="filter">
                    <a class="icon" href="{% url "tool-show" %}" 
                      ><i class="bi bi-three-dots"></i
                    >
                  </div>

                  <div class="card-body">
                    <h5 class="card-title">
                     View Used Tools
                    </h5>

                    <div class="d-flex align-items-center">
                      <div
                        class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                      >
                       <i class="bi bi-check-square-fill text-success"></i>
                        {% comment %} <i class="bi bi-currency-rupee"></i> {% endcomment %}
                      </div>
                      <div class="ps-3">
                        <h6>{{usetool}}</h6>
                      </div>
                    </div>
                    </a>
                  </div>
                </div>
              </div>


 <div class="col-lg-4 col-md-12">
                <div class="card info-card revenue-card">
                  <div class="filter">
                    <a class="icon" href="{% url "Inout-show" %}" 
                      ><i class="bi bi-three-dots"></i
                    >
                  </div>

                  <div class="card-body">
                    <h5 class="card-title">
                      Vehicle In & Out Time 
                    </h5>

                    <div class="d-flex align-items-center">
                      <div
                        class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                      >
                      <i class="bi bi-stopwatch-fill text-success"></i>
                        {% comment %} <i class="bi bi-currency-rupee"></i> {% endcomment %}
                      </div>
                      <div class="ps-3">
                        <h6>0</h6>
                      </div>
                    </div>
                    </a>
                  </div>
                </div>
              </div>

 <div class="col-lg-4 col-md-12">
                <div class="card info-card revenue-card">
                  <div class="filter">
                    <a class="icon" href="{% url "show-service" %}" 
                      ><i class="bi bi-three-dots"></i
                    >
                  </div>

                  <div class="card-body">
                    <h5 class="card-title">
                      Tanker Service Record
                    </h5>

                    <div class="d-flex align-items-center">
                      <div
                        class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                      >
                      <i class="bi bi-bus-front-fill text-danger"></i>
                        {% comment %} <i class="bi bi-currency-rupee"></i> {% endcomment %}
                      </div>
                      <div class="ps-3">
                        <h6>0</h6>
                      </div>
                    </div>
                    </a>
                  </div>
                </div>
              </div>


            </div>
        </div> 
      </div>
  </section>


<section >
<div class="row">
<div class="col-lg-6" >
  <div class="chart">
    <div class="bar bar1">10</div>
    <div class="bar bar2">20</div>
    <div class="bar bar3">35</div>
    <div class="bar bar4">25</div>
  </div>
</div>
<div class="col-lg-6">
    
  <div class="pie-chart"></div>
  <div class="legend">
    <div><span class="green"></span>Product A (40%)</div>
    <div><span class="blue"></span>Product B (30%)</div>
    <div><span class="red"></span>Product C (30%)</div>
  </div>

</div>


</div>
  </section>

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="copyright">
        &copy; Copyright <strong>. All Rights Reserved</strong>
      </div>
      <div class="credits">
        Designed by <a href="#"><strong> JTECH VENTURES</strong
        ></a>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->

</body>

