<!-- @format -->

<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Dashboard</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <link
      href="
      {% static 'css/main.css' %}"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/boxicons/css/boxicons.min.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'vendor/quill/quill.snow.css' %}" rel="stylesheet" />
    <link
      href="{% static 'vendor/quill/quill.bubble.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/remixicon/remixicon.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/simple-datatables/style.css' %}"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />

    <style>
      .datatable-dropdown {
        display: none !important;
      }
    </style>
    {% comment %} .datatable-search { float: none !important; } {% endcomment %}
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="d-flex align-items-center justify-content-between">
        <a class="navbar-brand mx-4" href="{% url 'dashboard' %}"
          ><img
            src="{% static '/img/logo_2.png' %}"
            alt="My image"
           style="width:80px;"
        /><img
            src="{% static '/img/logo_1.png' %}"
            alt="My image"
            style="width:250px"
        /></a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
      </div>
      <!-- End Logo -->
      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
          <li class="nav-item d-block d-lg-none">
            <a class="nav-link nav-icon search-bar-toggle" href="#">
              <i class="bi bi-search"></i>
            </a>
          </li>
          <!-- End Search Icon-->

          <li class="nav-item dropdown">
            <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
              <i class="bi bi-bell"></i>
              <span class="badge bg-primary badge-number">4</span> </a
            ><!-- End Notification Icon -->

            <ul
              class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications"
            >
              <li class="dropdown-header">
                You have 4 new notifications
                <a href="#"
                  ><span class="badge rounded-pill bg-primary p-2 ms-2"
                    >View all</span
                  ></a
                >
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li class="notification-item">
                <i class="bi bi-exclamation-circle text-warning"></i>
                <div>
                  <h4>Lorem Ipsum</h4>
                  <p>Quae dolorem earum veritatis oditseno</p>
                  <p>30 min. ago</p>
                </div>
              </li>

              <li>
                <hr class="dropdown-divider" />
              </li>

              <li class="notification-item">
                <i class="bi bi-x-circle text-danger"></i>
                <div>
                  <h4>Atque rerum nesciunt</h4>
                  <p>Quae dolorem earum veritatis oditseno</p>
                  <p>1 hr. ago</p>
                </div>
              </li>

              <li>
                <hr class="dropdown-divider" />
              </li>

              <li class="notification-item">
                <i class="bi bi-check-circle text-success"></i>
                <div>
                  <h4>Sit rerum fuga</h4>
                  <p>Quae dolorem earum veritatis oditseno</p>
                  <p>2 hrs. ago</p>
                </div>
              </li>

              <li>
                <hr class="dropdown-divider" />
              </li>

              <li class="notification-item">
                <i class="bi bi-info-circle text-primary"></i>
                <div>
                  <h4>Dicta reprehenderit</h4>
                  <p>Quae dolorem earum veritatis oditseno</p>
                  <p>4 hrs. ago</p>
                </div>
              </li>

              <li>
                <hr class="dropdown-divider" />
              </li>
              <li class="dropdown-footer">
                <a href="#">Show all notifications</a>
              </li>
            </ul>
            <!-- End Notification Dropdown Items -->
          </li>
          <!-- End Notification Nav -->

          {% comment %} <li class="nav-item dropdown">
            <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
              <i class="bi bi-chat-left-text"></i>
              <span class="badge bg-success badge-number">3</span> </a
            ><!-- End Messages Icon -->

            <ul
              class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages"
            >
              <li class="dropdown-header">
                You have 3 new messages
                <a href="#"
                  ><span class="badge rounded-pill bg-primary p-2 ms-2"
                    >View all</span
                  ></a
                >
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li class="message-item">
                <a href="#">
                  <img
                    src="assets/img/messages-1.jpg"
                    alt=""
                    class="rounded-circle"
                  />
                  <div>
                    <h4>Maria Hudson</h4>
                    <p>
                      Velit asperiores et ducimus soluta repudiandae labore
                      officia est ut...
                    </p>
                    <p>4 hrs. ago</p>
                  </div>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li class="message-item">
                <a href="#">
                  <img
                    src="assets/img/messages-2.jpg"
                    alt=""
                    class="rounded-circle"
                  />
                  <div>
                    <h4>Anna Nelson</h4>
                    <p>
                      Velit asperiores et ducimus soluta repudiandae labore
                      officia est ut...
                    </p>
                    <p>6 hrs. ago</p>
                  </div>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li class="message-item">
                <a href="#">
                  <img
                    src="assets/img/messages-3.jpg"
                    alt=""
                    class="rounded-circle"
                  />
                  <div>
                    <h4>David Muldon</h4>
                    <p>
                      Velit asperiores et ducimus soluta repudiandae labore
                      officia est ut...
                    </p>
                    <p>8 hrs. ago</p>
                  </div>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li class="dropdown-footer">
                <a href="#">Show all messages</a>
              </li>
            </ul>
            <!-- End Messages Dropdown Items -->
          </li> {% endcomment %}
          <!-- End Messages Nav -->

          <li class="nav-item dropdown  text-center pe-3">
            <a
              class="nav-link nav-profile d-inline align-items-center pe-0"
              href="#"
              data-bs-toggle="dropdown"
            >
              {% comment %}
              <img
                src="assets/img/profile-img.jpg"
                alt="Profile"
                class="rounded-circle"
              />
              {% endcomment %}
             <img
             src="{% static '/img/user.png' %}"
             alt="My image"
             
            />
              <span class="d-none d-md-block dropdown-toggle"
                ><strong>{{user.username}}</strong></span
              ></a
            ><!-- End Profile Iamge Icon -->

            <ul
              class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile"
            >
    
              </li>

              <li>
                <a
                  class="dropdown-item d-flex align-items-center"
                  href="{% url '404-page' %}"
                >
                  <i class="bi bi-person"></i>
                  <span>My Profile</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <a
                  class="dropdown-item d-flex align-items-center"
                  href="{% url '404-page' %}"
                >
                  <i class="bi bi-gear"></i>
                  <span>Account Settings</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              {% comment %} <li>
                <a
                  class="dropdown-item d-flex align-items-center"
                  href="pages-faq.html"
                >
                  <i class="bi bi-question-circle"></i>
                  <span>Need Help?</span>
                </a>
              </li> {% endcomment %}
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}">
                  <i class="bi bi-box-arrow-right"></i>
                  <span>Sign Out</span>
                </a>
              </li>
            </ul>
            <!-- End Profile Dropdown Items -->
          </li>
          <!-- End Profile Nav -->
        </ul>
      </nav>
      <!-- End Icons Navigation -->
    </header>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <!-- End Dashboard Nav -->

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#forms-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-journal-text"></i><span>Planning</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="forms-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="{% url 'plan' %}">
                <i class="bi bi-circle"></i><span>Add Plans</span>
              </a>
            </li>
         
          </ul>
        </li>

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#tables-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-layout-text-window-reverse"></i><span>Trip</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="tables-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="{% url 'addtrip' %}">
                <i class="bi bi-circle"></i><span>Add Trip</span>
              </a>
            </li>
          
            <li>
              <a href="{% url 'start_trip' %}">
                <i class="bi bi-circle"></i><span>Trip Expense (Advance)</span>
              </a>
            </li>
         
            {% comment %} <li>
             
                <a href="#tolls">
                <i class="bi bi-circle"></i><span>Toll</span>
              </a>
            </li>
            <li>
              <a href="{% url 'diesel-details' %}">
                <i class="bi bi-circle"></i><span>Diesel Details</span>
              </a>
            </li> {% endcomment %}
          </ul>
        </li>

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#vehicle-details"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-truck"></i><span>Vehicle Details</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="vehicle-details"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="{% url 'addvehicle' %}">
                <i class="bi bi-circle"></i><span>Add Vehicle</span>
              </a>
            </li>

            {% comment %} <li>
              <a href="{% url 'add-urea' %}">
                <i class="bi bi-circle"></i><span>Urea</span>
              </a>
            </li>

            <li>
              <a href="{% url 'add-repairs' %}">
                <i class="bi bi-circle"></i><span>Repairs</span>
              </a>
            </li> {% endcomment %}
          
          </ul>
        </li>
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#driver-details"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-people"></i><span>Drivers Details</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="driver-details"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="{% url 'adddriver' %}">
                <i class="bi bi-circle"></i><span>Add Drivers </span>
              </a>
            </li>
            <li>
              <a href="{% url 'add-salary' %}">
                <i class="bi bi-circle"></i><span>Add Driver Salary</span>
              </a>
            </li>
            <li>
              <a href="{% url 'drivers-loan' %}">
                <i class="bi bi-circle"></i><span>Add Driver Loan</span>
              </a>
            </li>
          </ul>
        </li>
         <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#company-details"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-people"></i><span>Company Details</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="company-details"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="{% url 'company-details' %}">
                <i class="bi bi-circle"></i><span>Add Company </span>
              </a>
            </li>
          
          </ul>
        </li>
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#loan-details"
            data-bs-toggle="collapse"
            href="{% url 'loandetails' %}"
          >
            <i class="bi bi-people"></i><span>Loan</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="loan-details"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="{% url 'loandetails' %}">
                <i class="bi bi-circle"></i><span>Add Details </span>
              </a>
            </li>
            
          </ul>
        </li>
       
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#report-details"
            data-bs-toggle="collapse"
            href="{% url 'report-show' %}"
          >
            <i class="bi bi-bookmark"></i><span>Report</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="report-details"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="{% url 'report-show' %}"> <i class="bi bi-circle"></i><span>Report </span> </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#bill-details"
            data-bs-toggle="collapse"
            href="{% url 'all-bill' %}"
          >
            <i class="bi bi-receipt"></i><span>Bill</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="bill-details"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="{% url 'all-bill' %}"> <i class="bi bi-circle"></i><span>All Bills </span> </a>
            </li>
          </ul>
        </li>
        <hr />
 
      </ul>
    </aside>
    <!-- End Sidebar-->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>
    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src=" {% static 'vendor/chart.js/chart.umd.js' %}"></script>
    <script src=" {% static 'vendor/echarts/echarts.min.js' %}"></script>
    <script src="{% static 'vendor/quill/quill.js' %}"></script>
    <script src="{% static 'vendor/simple-datatables/simple-datatables.js' %}"></script>
    <script src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js' %}"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const table = new simpleDatatables.DataTable(".datatable", {
          searchable: true, // Enabling the search bar
          fixedHeight: true, // Optional: keeps table height fixed
        });
      });
    </script>
    <!-- Template Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
