<!-- @format -->

{% include 'base.html' %}
{% load static %}

  <body>
   
    <main id="main" class="main">
      <div class="pagetitle">
        {% comment %} <h1>Dashboard</h1> {% endcomment %}
        {% comment %} <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </nav> {% endcomment %}
      </div>
      <!-- End Page Title -->

      <section class="section dashboard">
          <!-- Left side columns -->
          <div class="col-lg-12">
            <div class="row">
              <!-- Order Card -->
              {% comment %} <div class="col-lg-3 col-md-12">
                <div class="card info-card sales-card">
                    <a class="icon" href="{% url 'com-order' %}" 
                      >
                  <div class="card-body py-3">
                    <div class="d-flex align-items-center">
                      <div
                        class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                      >
                            <i class="bi bi-bag"></i>
                      </div>
                      

                      <div>
                       <h5 class="card-title">Fresh Order</h5>
                      </div>
                      <div class="ps-3">
                        <h6>0</h6>
                      </div>
                    </div>
                    </a>
                  </div>
                </div>
              </div> {% endcomment %}
              <!-- End Order Card -->
              <!-- Sales Card -->
              <div class="col-lg-3 col-md-12">
                <div class="card info-card sales-card">
          
                    <a class="icon" href="{% url 'showplan' %}" 
                      >
                  <div class="card-body py-3">
                    <div class="d-flex align-items-center">
                      <div
                        class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                      >
                        <i class="bi bi-journal-text text-warning"></i>
                      </div>
                      <div>
                         <h5 class="card-title">Planning</h5>
                      </div>
                      <div class="ps-3">
                        <h6>{{plan}}</h6>
                      </div>
                    </div>
                    </a>
                  </div>
                </div>
              </div>
              <!-- End Sales Card -->

              <!-- Revenue Card -->
              <div class="col-lg-3 col-md-12">
                <div class="card info-card revenue-card">
                    <a class="icon" href="{% url 'showtrip' %}" 
                      >
                  <div class="card-body py-3">
                    <div class="d-flex align-items-center">
                      <div
                        class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                      >
                      <i class="bi bi-arrow-down-up text-success"></i>
                     
                        {% comment %} <i class="bi bi-currency-rupee"></i> {% endcomment %}
                      </div>
                      <div>
                       <h5 class="card-title">
                      Active Trips
                    </h5>
                      </div>
                      <div class="ps-3">
                        <h6>{{trip}}</h6>
                      </div>
                    </div>
                    </a>
                  </div>
                </div>
              </div>

              <!-- Card -->
              <div class="col-lg-3 col-md-12">
                <div class="card info-card revenue-card">
                    <a class="icon" href="{% url 'Aak-Local' %}" 
                      >
                  <div class="card-body py-3">
                    <div class="d-flex align-items-center">
                      <div
                        class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                      >
                      <i class="bi bi-arrow-down-up text-pramiry"></i>
                        {% comment %} <i class="bi bi-currency-rupee"></i> {% endcomment %}
                      </div>
                      <div>
                        <h5 class="card-title">
                      Aak India Trips
                    </h5>
                      </div>
                      <div class="ps-3">
                        <h6>{{triplocal}}</h6>
                      </div>
                      
                    </div>
                    </a>
                   </div>
                 </div>
              </div>
              <!-- Card -->

              <div class="col-lg-3 col-md-12">
                <div class="card info-card revenue-card">
                    <a class="icon" href="{% url 'show-gemini-details' %}" 
                      >
                  <div class="card-body py-3">
                    <div class="d-flex align-items-center">
                      <div
                        class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                      >
                      <i class="bi bi-arrow-down-up text-success"></i>
                        {% comment %} <i class="bi bi-currency-rupee"></i> {% endcomment %}
                      </div>
                      <div>
                         <h5 class="card-title">
                      Gemini Trips 
                    </h5>
                      </div>
                      <div class="ps-3">
                        <h6>{{tripgemini}}</h6>
                      </div>
                      
                    </div>
                    </a>
                   </div>
                 </div>
              </div>
                <!-- Card -->
                <div class="col-lg-3 col-md-12">
                   <div class="card info-card revenue-card">
                    <a class="icon" href="{% url 'show-adani' %}" 
                      >
                   <div class="card-body py-3">
                    <div class="d-flex align-items-center">
                      <div
                        class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                      >
                      <i class="bi bi-arrow-down-up text-success"></i>
                        {% comment %} <i class="bi bi-currency-rupee"></i> {% endcomment %}
                      </div>
                      <div>
                         <h5 class="card-title">
                    Adani Trips
                    </h5>
                      </div>
                      
                      <div class="ps-3">
                        <h6>{{tripadani}}</h6>
                      </div>
                      
                    </div>
                    </a>
                   </div>
                 </div>
              </div>

              <!-- Card -->
              <div class="col-lg-3 col-md-12">
                <div class="card info-card revenue-card">
                    <a class="icon" href="{% url 'trip' %}"
                      >
                  <div class="card-body py-3">
                    <div class="d-flex align-items-center">
                      <div
                        class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                      >
                      <i class="bi bi-cash-stack text-danger"></i>
                        {% comment %} <i class="bi bi-currency-rupee"></i> {% endcomment %}
                      </div>
                      <div><h5 class="card-title">
                      Trip Expenses
                    </h5> </div>
                      <div class="ps-3">
                        <h6>{{trip_exp}}</h6>
                      </div>
                    </div>
                    </a>
                  </div>
                </div>
              </div>
              <!--Card -->
  
       

              <!-- vehicle Card -->
              <div class="col-lg-3 col-md-12">
                <div class="card info-card customers-card">
                    <a class="icon" href="{% url 'show-vehicle' %}" 
                      >
                 <div class="card-body py-3">
                    <div class="d-flex align-items-center">
                      <div
                        class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                      >
                       <i class="bi bi-truck"></i>
                      </div>
                      <div> <h5 class="card-title">
                      Vehicle Details 
                    </h5> </div>
                      <div class="ps-3">
                        <h6>{{vehicle_c}}</h6>
                      </div>
                    </div>
                    </a>
                  </div>
                </div>
              </div>
              <!--Card -->
               <div class="col-lg-3 col-md-12">
                <div class="card info-card customers-card">
                    <a class="icon" href="{% url "showdrivers" %}" 
                      >
                 <div class="card-body py-3">
                    <div class="d-flex align-items-center">
                      <div
                        class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                      >
                      <i class="bi bi-people text-success"></i>
                      </div>
                      <div>
                      <h5 class="card-title">
                      Driver Details 
                     </h5>
                      </div>
                      <div class="ps-3">
                        <h6>{{driver}}</h6>
                      </div>
                    </div>
                    </a>
                  </div>
                </div>
              </div>
                  <!--Card -->
              <div class="col-lg-3 col-md-12">
                <div class="card info-card customers-card">
                    <a class="icon" href="{% url "s-company" %}" 
                      >
                 <div class="card-body py-3">
                    <div class="d-flex align-items-center">
                      <div
                        class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                      >
                       <i class="bi bi-building text-warning"></i>
                      </div>
                      <div>   <h5 class="card-title">
                      Company Details 
                    </h5> </div>
                      <div class="ps-3">
                        <h6>{{company}}</h6>
                      </div>
                    </div>
                    </a>
                  </div>
                </div>
              </div>
              
               <!--  Loan -->
              <div class="col-lg-3 col-md-12">
                <div class="card info-card customers-card">
                    <a class="icon" href="{% url 'loandetails' %}" 
                      >
                  <div class="card-body py-3">
                    <div class="d-flex align-items-center">
                      <div
                        class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                      >
                      <i class="bi bi-person-vcard text-danger"></i>
                        
                      </div>
                      <div>   <h5 class="card-title">
                      Loan
                    </h5> </div>
                      <div class="ps-3">
                        <h6>0</h6>
                      </div>
                    </div>
                    </a>
                  </div>
                </div>
              </div>
              <!-- Loan-->
              <div class="col-lg-3 col-md-12">
                <div class="card info-card customers-card">
                   <a class="icon" href="{% url 'report-show' %}" 
                      >
                  <div class="card-body py-3">
                    <div class="d-flex align-items-center">
                      <div
                        class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                      >
                        <i class="bi bi-journal-text"></i>
                      </div>
                      <div>  <h5 class="card-title">
                     Reports
                    </h5> </div>
                      <div class="ps-3">
                        <h6>{{trip_exp}}</h6>
                        
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
              </div>

                <!-- Card-->
              <div class="col-lg-3 col-md-12">
                <div class="card info-card customers-card">
                   <a class="icon" href="{% url 'add-toll' %}" 
                      >
                  <div class="card-body py-3">
                    <div class="d-flex align-items-center">
                      <div
                        class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                      >
                        <i class="bi bi-align-start text-success"></i>
                      </div>
                      <div><h5 class="card-title">
                     Add Toll
                    </h5>   </div>
                      <div class="ps-3">
                        <h6>0</h6>
                        
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
              <!-- Card--> 
              <div class="col-lg-3 col-md-12">
                <div class="card info-card customers-card">
                   <a class="icon" href="{% url "vouchar_cash" %}" 
                      >
                  <div class="card-body py-3">
                    <div class="d-flex align-items-center">
                      <div
                        class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                      >
                        <i class="bi bi-receipt text-warning"></i>
                      </div>
                      <div><h5 class="card-title">
                     Cash Vouchar
                    </h5></div>
                      <div class="ps-3">
                        <h6>0</h6>
                        
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
                <!-- Card-->
               <div class="col-lg-3 col-md-12">
                <div class="card info-card customers-card">
                   <a class="icon" href="{% url 'vehicle-track' %}" 
                      >

                  <div class="card-body p-3">
                    <div class="d-flex align-items-center">
                      <div
                        class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                      >
                        <i class="bi bi-geo text-danger"></i>
                      </div>
                      <div><h5 class="card-title">
                     Vehicle Tracking
                    </h5> </div>
                      <div class="ps-3">
                        <h6>0</h6>
                        
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
      </div>
  </section>
<section class="section dashboard sec-2">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Monthly <span>/Trips</span></h5>

          <!-- ApexCharts Chart -->
          <div id="tripsChart"></div>

          <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
          <script>
            document.addEventListener("DOMContentLoaded", () => {
              new ApexCharts(document.querySelector("#tripsChart"), {
                series: [{
                  name: "Trips",
                  data: {{ trips_monthly|safe }},  // ✅ backend me yahi variable hai
                }],
                chart: {
                  height: 350,
                  type: "area",
                  toolbar: { show: false },
                },
                markers: { size: 4 },
                colors: ["#4154f1"],
                fill: {
                  type: "gradient",
                  gradient: {
                    shadeIntensity: 1,
                    opacityFrom: 0.3,
                    opacityTo: 0.4,
                    stops: [0, 90, 100],
                  },
                },
                dataLabels: { enabled: false },
                stroke: { curve: "smooth", width: 2 },
                xaxis: {
                  categories: {{ months|safe }},
                },
              }).render();
            });
          </script>
          <!-- End Chart -->
        </div>
      </div>
    </div>
  </div>
</section>



    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="copyright">
        &copy; Copyright <strong>. All Rights Reserved</strong>
      </div>
      <div class="credits">
        Designed by <a href="#"><strong> JTECH VENTURES</strong
        ></a>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->

</body>

