
{% include 'base.html' %}
{% load static %}
  <body>
    <main id="main" class="main">
      <div class="pagetitle">
        <h1>Profit & Loss</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </nav>
      </div>
      <!-- End Page Title -->
      <section class="section">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body py-4">
                {% comment %} <h5 class="card-title">Form</h5> {% endcomment %}


 <section class="main-sec">
 {% if messages %}
  <div class="container mt-3">
    {% for message in messages %}
      <div class="alert alert-info {{ message.tags }} alert-dismissible fade show" role="alert">
       <h5 class="text-center"> {{ message }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  </div>
{% endif %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12 form-div">
        <form  method="POST" autocomplete="off">
          {% csrf_token %}
          <div class="row">
           <div class="col-lg-4 mb-3">
            <label  class="form-label fw-bold">Vehicle No</label>
             <input class="form-control border-2" name="tanker" list="datalistOptions"   placeholder="Search to vehicle no...">
               <datalist id="datalistOptions" class="shadow-sm border-0" >
                {% for v in vehicle %}
                 <option value="{{v.vehicle_name}}">{{v.vehicle_name }}</option>
                 {% endfor %}
                </datalist>
          </div>
        {% comment %} <div class="col-lg-4 mb-3">
            <label for="exampleDataList" class="form-label fw-bold">Drivers Name</label>
             <input class="form-control border-2" list="driverslist" id="exampleDataList" name="drivername" placeholder="Search to drivers..." required>
               <datalist id="driverslist" class="shadow-sm border-0" >
                  {% for d in dname %}
                 <option value="{{d.name}}">{{d.fname }}</option>
                {% endfor %}
                </datalist>
             </div> {% endcomment %}
           <div class="col-lg-4 mb-3">
            <label for="exampleDataList1" class="form-label fw-bold">From Address</label>
             <input type="text" class="form-control border-2" name="from_add" list="datalistOptions1" id="exampleDataList1" placeholder="Search to vehicle no...">
               <datalist id="datalistOptions1" class="shadow-sm border-0" >
                {% for c in company %}
                 <option value="{{c.name}}, {{c.short_name}}"></option>
                 {% endfor %}
                </datalist>
          </div>
            
  

          <div class="col-lg-4 mb-3">
            <label for="exampleDataList2" class="form-label fw-bold">To Address</label>
             <input type="text" class="form-control border-2" name="to_add" list="datalistOptions2" id="exampleDataList2" placeholder="Search to vehicle no...">
               <datalist id="datalistOptions2" class="shadow-sm border-0" >
                {% for c in company %}
                 <option value="{{c.name}}, {{c.short_name}}"></option>
                 {% endfor %}
                </datalist>
          </div>
          <div class="col-lg-4 mb-3">
            <label for="label11" class="form-label fw-bold"
              >Trip Date</label
            >
            <input
              type="date"
              name="trip"
              class="form-control border-2"
              id="label11"
            />
          </div>
           <div class="col-lg-4 mb-3">
            <label for="label11" class="form-label fw-bold"
              >Bill Date</label
            >
            <input
              type="date"
              name="bill"
              class="form-control border-2"
              id="label11"
            />
          </div>
            <div class="col-lg-4 mb-3">
            <label for="label11" class="form-label fw-bold"
              >Company Name</label
            >
              <input type="text" class="form-control border-2" name="company" list="datalistOptions4" id="label11" placeholder="Search to vehicle no...">
               <datalist id="datalistOptions4" class="shadow-sm border-0" >
                {% for c in company %}
                 <option value="{{c.name}}, {{c.area_name}}"></option>
                 {% endfor %}
                </datalist>
            
          </div>
          <div class="col-lg-4 mb-3">
            <label for="profit" class="form-label fw-bold"
              >Expense Amount</label
            >
            <input
              type="text"
              name="expese"
              class="form-control border-2"
              id="profit"
              oninput="Profit()"
            />
          </div>
          <div class="col-lg-4 mb-3">
            <label for="loss" class="form-label fw-bold"
              >Bill Amount</label
            >
            <input
              type="text"
              name="bill_amount"
              class="form-control border-2"
              id="loss"
              oninput="Profit()"
            />
          </div>
          <div class="col-lg-4 mb-3">
            <label for="total" class="form-label fw-bold"
              >Profit & Loss</label
            >
            <input
              type="text"
              name="total"
              class="form-control border-2"
              id="total"
              oninput="Profit()"
            />
          </div>
          <div class="btn-div text-center py-2">
            <button type="submit" class="btn btn-success px-4">Add</button>
            <a href="{% url "show_pro" %}" class="btn btn-info px-4">View</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

      <!-- ======= Footer ======= -->
    <footer class="footer">
      <div class="copyright">
        &copy; Copyright <strong>J N Roadlines LLP</strong> All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#"><strong> JTECH VENTURES</strong></a>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>
 <script>
    function Profit(){
     // Get the values of disqty and unlodqty from the form
     var profit = document.getElementById("profit").value;
     var loss = document.getElementById("loss").value;

     // Ensure that disqty and unlodqty have values and are valid numbers
     //if (disqty && unlodqty && !isNaN(disqty) && !isNaN(unlodqty)) {
      // Calculate totalshort (unlodqty - disqty)
      var total = parseInt(loss) - parseInt(profit);

      // Update the totalshort input field
      document.getElementById("total").value = total;

      // Initialize shortallow
      //var shortallow = totalshort;

      // Check if totalshort is exactly 0
      //if (totalshort >= -50) {
           // shortallow = 0;
          //} 
      //else{
            //shortallow = totalshort - (-50); // or totalshort + 60
         // }

      // Set the result in the shortallow field
      //document.getElementById("total").value = total;
    }
  
</script>

</body>
