{% include 'base2.html' %}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Tanker-wise Expense Report</h1>
    </div>

    <section class="section">
        <div class="card">
            <div class="card-body">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Tanker No</th>
                            <th>Total Expense (₹)</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for row in result %}
                        <tr>
                            <td>{{ row.tanker }}</td>
                            <td><strong>{{ row.expense }}</strong></td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>

            </div>
        </div>
    </section>

</main>
