<!-- @format -->

{% include 'base.html' %}
{% load static %}
  <body>
    <main id="main" class="main">
      <div class="pagetitle">
        <h1>Add Drivers</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </nav>
      </div>
      <!-- End Page Title -->
      <section class="section">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body py-4">
                {% comment %} <h5 class="card-title">Form</h5> {% endcomment %}


<section class="main-sec">
{% if messages %}
  <div class="container mt-3">
    {% for message in messages %}
      <div class="alert alert-info {{ message.tags }} alert-dismissible fade show" role="alert">
       <h5 class="text-center"> {{ message }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  </div>
{% endif %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12 form-div">
        <form action="{% url 'drivers-updated' updatedriver.id %}"    method="POST" enctype="multipart/form-data">
        {% csrf_token %}
          <div class="row">
           <div class="col-lg-4 mb-3">
            <label for="exampleDataList" class="form-label fw-bold">Driver Name</label>
             <input class="form-control border-2" list="datalistOptions" name="name" value="{{ updatedriver.name }}" id="exampleDataList" placeholder="Add Driver..." required>
               {% comment %} <datalist id="datalistOptions" class="shadow-sm border-0">
                {% for d in dname %}
                 <option value="{{d.name}}">{{d.name }}</option>
                 {% endfor %}
                </datalist> {% endcomment %}
          </div>
          <div class="col-lg-4 mb-3">
              <label for="phone" class="form-label fw-bold"
                >Father's Name</label
              >
              <input
              type="text"
              name="fname"
              class="form-control border-2"
              id="fname"
              value="{{ updatedriver.fname }}"
            />
        </div>
        <div class="col-lg-4 mb-3">
              <label for="lable3" class="form-label fw-bold"
                >Aadhar Number</label
              >
              <input
              type="number"
              name="adharnumber"
              class="form-control border-2"
              id="aadhar"
              min="0" maxlength="10"
              value="{{ updatedriver.adharnumber }}"
              required
            />
        </div>
        <div class="col-lg-4 mb-3">
              <label for="lable3" class="form-label fw-bold"
                >Licence Number</label
              >
              <input
              type="text"
              name="licencenumber"
              class="form-control border-2"
              id="label11"
              maxlength="15"
              value="{{ updatedriver.licencenumber }}"
              required
            />
        </div>
        <div class="col-lg-4 mb-3">
            <label for="label6" class="form-label fw-bold"
              >Issue Date
            </label>
           <input
              type="date"
              name="issuedates"
              class="form-control border-2"
              id="label11"
              value="{{ updatedriver.issuedates|date:'Y-m-d' }}"
            />
        </div>
        <div class="col-lg-4 mb-3">
            <label for="label6" class="form-label fw-bold"
              >TR Date
            </label>
           <input
              type="date"
              name="trdates"
              class="form-control border-2"
              id="label11"
              value="{{ updatedriver.trdates|date:'Y-m-d' }}"
            />
        </div>
         <div class="col-lg-4 mb-3">
             <label  class="form-label fw-bold"
                >Upload Image</label
              >
            <input type="file" name="img" class="form-control"  value="{{ updatedriver.img }}">
           </div>
          <div class="btn-div text-center py-2">
            <button type="submit" class="btn btn-info px-4">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="copyright">
        &copy; Copyright <strong>. All Rights Reserved</strong>
      </div>
      <div class="credits">
        Designed by <a href="#"><strong>J N Roadlines</strong></a>
      </div>
    </footer>
    <!-- End Footer -->

  {% comment %} <script>
  const quantityInput = document.getElementById("aadhar");

  quantityInput.addEventListener("input", function() {
    if (parseInt(quantityInput.value) < 0) {
      quantityInput.value = 0;
    }
    if (parseInt(quantityInput.value) > 12) {
      quantityInput.value = 12;
    }
  });
</script> {% endcomment %}
<script>
  const quantityInput = document.getElementById("aadhar");

  quantityInput.addEventListener("input", function() {
    if (quantityInput.value.length > 12) {
      quantityInput.value = quantityInput.value.slice(0, 12);
    }
  });
</script>

  </body>

