<!-- @format -->

{% include 'base.html' %}
{% load static %}
  <body>
    <main id="main" class="main">
      <div class="pagetitle">
        <h1>Company Details Page</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </nav>
      </div>
      <!-- End Page Title -->
      <section class="section">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body py-4">
                {% comment %} <h5 class="card-title">Form</h5> {% endcomment %}


 <section class="main-sec">
 {% if messages %}
  <div class="container mt-3">
    {% for message in messages %}
      <div class="alert alert-info {{ message.tags }} alert-dismissible fade show" role="alert">
       <h5 class="text-center"> {{ message }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  </div>
{% endif %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12 form-div">
        <form  action="{% url 'company-update' upcompany.id %}"  method="POST" >
          {% csrf_token %}
          <div class="row">
           
          <div class="col-lg-4 mb-3">
            <label for="label11" class="form-label fw-bold"
              >Company Name</label
            >
            <input
              type="text"
              name="name"
              class="form-control border-2"
              id="label11"
              value="{{upcompany.name}}"
            />
          </div>
           <div class="col-lg-4 mb-3">
            <label for="label11" class="form-label fw-bold"
              >Company Address</label
            >
            <input
              type="text"
              name="area_name"
              class="form-control border-2"
              id="label11"
              value="{{upcompany.area_name}}"
            />
          </div>
       
            <div class="col-lg-4 mb-3">
            <label for="state" class="form-label fw-bold" >State</label>
            <input
              type="text"
              name="state"
              class="form-control border-2"
              id="state"
              value="{{upcompany.state}}"
            />      
           </div>


           <div class="col-lg-4 mb-3"> 
          <label for="city" class="form-label fw-bold">City</label>
           <input
              type="text"
              name="city"
              class="form-control border-2"
              id="city"
              value="{{upcompany.city}}"
            />    
           </div>
          <div class="col-lg-4 mb-3">
            <label for="label12" class="form-label fw-bold"
              >Pin Code</label
            >
            <input
              type="number"
              name="pincode"
              class="form-control border-2"
              id="label12"
              value="{{upcompany.pincode}}"
            />
          </div>

          <div class="col-lg-4 mb-3">
            <label for="label13" class="form-label fw-bold"
              >GST No</label
            >
            <input
              type="text"
              name="gst"
              class="form-control border-2"
              id="label13"
              value="{{upcompany.gst}}"
            />
          </div>
          <div class="col-lg-4 mb-3">
            <label for="label13" class="form-label fw-bold"
              >PAN No</label
            >
            <input
              type="text"
              name="pan"
              class="form-control border-2"
              id="label13"
              value="{{upcompany.pan}}"
            />
          </div>

          <div class="col-lg-4 mb-3">
            <label for="label15" class="form-label fw-bold"
              >Contact No</label
            >
            <input
              type="number"
              name="contact_no"
              class="form-control border-2"
              id="label15"
              value="{{upcompany.contact_no}}"
            />
          </div>
          

          <div class="btn-div text-center py-2">
            <button type="submit" class="btn btn-info px-4">Update</button>
            {% comment %} <a href="{% url 's-company'%}" class="btn btn-info px-4">View</a> {% endcomment %}
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="copyright">
        &copy; Copyright <strong>. All Rights Reserved</strong>
      </div>
      <div class="credits">
        Designed by <a href="#"><strong>J N Roadlines</strong></a>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>
   
  </body>
