<!-- @format -->

{% include 'base.html' %}
{% load static %}


  <body>


    <main id="main" class="main">
      <div class="pagetitle">
        <h1>Add Driver Salary</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </nav>
      </div>
      <!-- End Page Title -->
      <section class="section">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body py-4">
                {% comment %} <h5 class="card-title">Form</h5> {% endcomment %}


<section class="main-sec">
 {% if messages %}
  <div class="container mt-3">
    {% for message in messages %}
      <div class="alert alert-info {{ message.tags }} alert-dismissible fade show" role="alert">
       <h5 class="text-center"> {{ message }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  </div>
{% endif %}
  <div class="container">
    <div class="row">
    <div class="col-lg-12 form-div">
    <form action="{% url 'do-update' upsalary.id %}"  method="POST" autocomplete="off">
      {% csrf_token %}
          <div class="row">
         <div class="col-lg-4 mb-3">
            <label for="exampleDataList1" class="form-label fw-bold">Tanker No</label>
             <input class="form-control"  id="exampleDataList1" name="tankerno" value="{{upsalary.tankerno}}" placeholder="Search to vehicle no..." required>
             
              </div>
        <div class="col-lg-4 mb-3">
            <label for="exampleDataList" class="form-label fw-bold">Drivers Name</label>
             <input class="form-control"  id="exampleDataList" name="drivername" value="{{upsalary.drivername}}" placeholder="Search to drivers...">
             
        </div>
        <div class="col-lg-4 mb-3">
               <label for="inputGroupSelect01" class="form-label fw-bold">Driver Salary</label>
              <input class="form-select" id="inputGroupSelect01" name="salary_driver" value="{{upsalary.salary_driver}}">
              
        </div>
         
         <div class="col-lg-4 mb-3">
            <label for="label11" class="form-label fw-bold"
              >From Date</label
            >
            <input
              type="date"
              name="f_date"
              class="form-control border-2"
              id="label11"
              value="{{upsalary.f_date|date:'Y-m-d'}}"
            />
         </div>
         <div class="col-lg-4 mb-3">
            <label for="label11" class="form-label fw-bold"
              >To Date</label
            >
            <input
              type="date"
              name="t_date"
              class="form-control border-2"
              id="label11"
              value="{{upsalary.t_date|date:'Y-m-d'}}"
            />
        </div>
         <div class="col-lg-4 mb-3">
            <label for="label11" class="form-label fw-bold"
              >Paid Date</label
            >
            <input
              type="date"
              name="p_date"
              class="form-control border-2"
              id="label11"
              value="{{upsalary.p_date|date:'Y-m-d'}}"
            />
        </div>

  
        <div class="col-lg-4 mb-3">
            <label for="totalamount" class="form-label fw-bold"
              >Amount </label
            >
            <input
              type="number"
              name="amount"
              class="form-control border-2"
              id="totalamount"
              min="0"
              value="{{upsalary.amount}}"

            />
        </div>
           <div class="btn-div text-center py-2">
            <button type="submit" class="btn btn-info px-4">Update</button>
          </div>
      </form>
      </div>
    </div>
  </div>
</section>
         </div>
        </div>
        </div>
    </div>
</section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="copyright">
        &copy; Copyright <strong>. All Rights Reserved</strong>
      </div>
      <div class="credits">
        Designed by <a href="#"><strong>J N Roadlines</strong></a>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    
  </body>

